<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag gravatar_url(@email, 250), alt: "" %>
	</div>
	<div id="content">
		<h1>Eddie Yap</h1>
		<p> This is my tumblr blog. Built with Ruby On Rails </p>
		
	</div>


</div>

